all {
  input-dir: "hdfs://10.12.3.36:8020/tpch/",
  output-dir: "hdfs://10.12.3.36:8020/tpch/",
  query-num: 23
}

//
//customer, lineitem, nation, region
//order, part, partsupp, supplier

Q23 {
  table-a: "customer",
  table-b: "lineitem",
  operator: "join"
}

